<h2>Enter a New Manufacturer</h2>
<form method="POST" action="/manufacturers">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name"/>
    </div>

    <div class="form-el">
      <label for="website">Website:</label>
      <input type="text" name="website" id="website"/>
    </div>

  </div>


  <div class="form-el">
    <input type="submit" value="Enter New Manufacturer"/>
  </div>
  
</div>
</form>
