<h2>Enter a New Product</h2>
<form method="POST" action="/items">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name"/>
    </div>

    <div class="form-el">
      <label for="description">Description:</label>
      <textarea rows="2" cols="50" name="description" maxlength="250" id="description"/>
    </textarea>
    </div>

    <div class="form-el">
      <label for="tag">Tag:</label>
      <select name="tag" id="tag">
        <% tags= Item.tag_list() %>
        <% tags.each { |tag| %>
        <option value="<%= tag %>"> <%= tag %></option>
        <% }  %>
      </select>
    </div>

    <div class="form-el">
      <label for="cost">Cost:</label>
      <input type="number" name="cost" min="0" id="cost"/>
    </div>

    <div class="form-el">
      <label for="price">Price:</label>
      <input type="number" name="price" min="0" id="price"/>
    </div>

    <div class="form-el">
      <label for="stock_level">Stock Level:</label>
      <input type="number" name="stock_level" min="0" id="stock_level"/>
    </div>

    <div class="form-el">
      <label for="stock_low">Stock at Lowest Limit:</label>
      <input type="number" name="stock_low" min="0" id="stock_low"/>
    </div>

    <div class="form-el">
      <label for="stock_medium">Stock at Medium Limit:</label>
      <input type="number" name="stock_medium" min="0" id="stock_medium"/>
    </div>

    <div class="form-el">
      <label for="manufacturer">Manufacturer:</label>


      <select name="manufacturer" id="manufacturer">
        <% for manufacturer in @manufacturers  %>
        <option value="<%= manufacturer.id %>"><%=manufacturer.name  %></option>
      <% end  %>
      </select>
    </div>


    </div>


    <div class="form-el">
      <input type="submit" value="Enter The Item"/>
    </div>

  </div>
</form>
