table, th, td{
  font-family: Roboto;
  font-size: 0.9em;
}
table {
    border-radius: 5px;
    border: 1px groove black;
     text-align: center;
}
th {
}


td{
  border: 1px solid black;
  border-radius: 5px;
 text-align: center;
}

input[type="number"] {
text-align: center;
border-radius: 5px;
}

.stock-green{
  background: linear-gradient(-45deg, rgb(146, 255, 140), rgb(255, 250, 180));
}

.stock-orange{
  background: linear-gradient(-45deg, rgb(255, 214, 0), rgb(255, 250, 180));
}

.stock-red{
  background: linear-gradient(-45deg, rgb(255, 20, 20), rgb(255, 250, 180));
};
